@model Rhythmify.Models.Playlist

<div class="card mb-4 shadow-sm">
    <div class="card-header text-white bg-primary d-flex align-items-center">
        <img src="@Model.User.ProfilePicture" alt="@Model.User.UserName's Profile Picture" class="rounded-circle me-3" style="width: 50px; height: 50px;">
        <div>
            <h3 class="card-title mb-0">@Model.Title</h3>
            <small class="text-light">by @Model.User.DisplayName</small>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        <a href="@Url.Action("Show", "Playlists", new { id = Model.Id })" class="btn btn-outline-primary mt-3">View Playlist</a>
    </div>
</div>
