@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Rhythmify.Models.User

@if (Model != null)
{
    @if (Model.ProfilePicture != null)
    {
        ViewBag.ProfilePicture = Model.ProfilePicture;
    }
    else
    {
        ViewBag.ProfilePicture = "/uploads/RHYTHMIFY.PNG";
    }
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    <img src="@ViewBag.ProfilePicture" class="img-fluid" style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">@Model.DisplayName</h5>
                                    <p class="mb-2 pb-1" style="color: #2b2a2a;">@Model.UserName</p>
                                    <div class="d-flex justify-content-between rounded-3 p-2 mb-2" style="background-color: #efefef;">
                                        <div class="text-center">
                                            <p class="small text-muted mb-1">Posts</p>
                                            <p class="mb-0">@ViewBag.PostCount</p>
                                        </div>
                                        <div class="text-center">
                                            <p class="small text-muted mb-1">Followers</p>
                                            <p class="mb-0">@ViewBag.Followers</p>
                                        </div>
                                        <div class="text-center">
                                            <p class="small text-muted mb-1">Playlists</p>
                                            <p class="mb-0">@ViewBag.PlaylistCount</p>
                                        </div>
                                    </div>
                                    <div class="d-flex pt-1">
                                        <form id="chatForm" asp-controller="Conversations" asp-action="New" method="post">
                                            <input type="hidden" name="displayName" id="displayName" value="@Model.DisplayName" />
                                            <button type="submit" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                                        </form>
                                        @if (User.Identity.Name != Model.UserName)
                                        {
                                            @if (ViewBag.Connected == true)
                                            {
                                                <form id="unfollowForm" asp-controller="Connections" asp-action="RemoveConnection" method="post">
                                                    <input type="hidden" name="friendId" id="friendId" value="@Model.Id" />
                                                    <button type="submit" class="btn btn-primary flex-grow-1">Unfollow</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form id="followForm" asp-controller="Connections" asp-action="AddConnection" method="post">
                                                    <input type="hidden" name="friendId" id="friendId" value="@Model.Id" />
                                                    <button type="submit" class="btn btn-primary flex-grow-1">Follow</button>
                                                </form>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3>Posts</h3>
                        <a href="@Url.Action("New", "Posts")" class="btn btn-success">New Post</a>
                    </div>
                    <div class="post-list">
                        @{
                            ViewBag.PostsExist = false;
                        }
                        @foreach (Rhythmify.Models.Post post in ViewBag.Posts)
                        {
                            ViewBag.PostsExist = true;
                            @Html.Partial("PostInfo", post)
                        }
                        @if (ViewBag.PostsExist == false)
                        {
                            <p>The user has not made any posts yet.</p>
                        }
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
                        <h3>Playlists</h3>
                        <a href="@Url.Action("New", "Playlists")" class="btn btn-success">New Playlist</a>
                    </div>
                    <div class="playlist-list">
                        @{
                            ViewBag.PlaylistsExist = false;
                        }
                        @foreach (Rhythmify.Models.Playlist playlist in ViewBag.Playlists)
                        {
                            ViewBag.PlaylistsExist = true;
                            @Html.Partial("PlaylistInfo", playlist)
                        }
                        @if (ViewBag.PlaylistsExist == false)
                        {
                            <p>The user has not made any playlists yet.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <h1>User does not exist!</h1>
}
