@model Rhythmify.Models.Conversation
@{
    ViewBag.Title = "Conversation";
}
@* Afisarea unei conversatii *@

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="card">

    <h3>Conversatie intre @Model.User1.DisplayName si @Model.User2.DisplayName</h3>
</div>

<br />
<br />

@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@foreach (var msg in Model.Messages)
{
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <div class="p-3 border rounded shadow-sm">
                    <div class="d-flex align-items-center mb-2">
                        <a href="/Profiles/Show/@msg.Sender.UserName">
                            <img src="@msg.Sender.ProfilePicture" alt="@msg.Sender.DisplayName's Profile Picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                        </a>
                        <div>
                            <a href="/Profiles/Show/@msg.Sender.UserName" class="text-decoration-none text-reset">
                            <strong>@msg.Sender.DisplayName</strong>
                            </a>
                            <br>
                            <small class="text-muted">@msg.Timestamp</small>
                        </div>
                    </div>
                    <p class="mb-0">@msg.Content</p>
                </div>

            </div>
        </div>
    </div>
}


@* Afisarea formularului in care se poate adauga un mesaj *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Conversations/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="ConversationID" value="@Model.Id" />

                        <label>Continut mesaj</label>

                        <br />

                        @Html.TextArea("Content", null, new { @class = "summernote" })
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

                        <br /><br />

                        <button class="btn btn-success " type="submit">Adauga mesajul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>