@model Rhythmify.Models.Conversation


@* Afisarea unei conversatii *@

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="card">

    @Html.Partial("ConversationInfo", Model) 

</div>

<br />
<br />

    @* Afisarea formularului in care se poate adauga un mesaj *@

    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" action="/Conversations/Show/@Model.Id">

                        <div class="card-body">

                            <input type="hidden" name="ConversationID" value="@Model.Id" />

                            <label>Continut mesaj</label>

                            <br />

                            @Html.TextArea("Content", null, new { @class = "summernote" })
                            @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                            <br /><br />

                            <button class="btn btn-success " type="submit">Adauga mesajul</button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}