@model Rhythmify.Models.Playlist

@{
    ViewBag.Title = "New Playlist";
}

<h2 class="text-center mt-5">Add playlist</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @using (Html.BeginForm(actionName: "New", controllerName: "Playlists"))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, "Title")
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "Description")
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <br />

                <button class="btn btn-success" type="submit">Add Playlist</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
