@model Rhythmify.Models.Playlist

@* Afisarea unei conversatii *@

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="card">

    <h3>Playlist: @Model.Title</h3>
</div>

<br />
<br />

@* Afisare melodii impreuna cu butoanele de editare si stergere *@
@foreach (var msg in Model.PlaylistSongs)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@msg.Song.Artist - @msg.Song.Title</p>
                    <small>@msg.TimeAdded</small>

                </div>
                <br>

                @* to add edit and delete by adding access rights*@

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}