@model Rhythmify.Models.Playlist
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@* Afisarea unui playlist *@
@{
    ViewBag.Title = Model.Title;
}

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="card mb-4 shadow-sm">
    <div class="card-header text-white bg-primary d-flex align-items-center">
        <img src="@Model.User.ProfilePicture" alt="@Model.User.UserName's Profile Picture" class="rounded-circle me-3" style="width: 50px; height: 50px;">
        <div>
            <h3 class="card-title mb-0">@Model.Title</h3>
            <small class="text-light">by @Model.User.DisplayName</small>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        @if (await UserManager.GetUserIdAsync(UserManager.GetUserAsync(User).Result) == Model.User.Id)
        {
            <form method="post" action="/Playlists/Delete/@Model.Id">
                <button class="btn btn-danger" type="submit">Sterge playlist</button>
            </form>
        }
    </div>
    
</div>

@* Afisare melodii impreuna cu butoanele de editare si stergere *@
<div class="container">
    <div class="row">
        @foreach (var msg in Model.PlaylistSongs)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="@msg.Song.CoverPicture" class="card-img-top" alt="Cover Picture of @msg.Song.Title" style="height: 150px; object-fit: cover;">
                    <div class="card-body">
                        <h6 class="card-title">@msg.Song.Artist - @msg.Song.Title</h6>
                        <small class="text-muted">Added on: @msg.TimeAdded</small>
                        <div class="mt-2">
                            <a href="@msg.Song.PreviewUrl" class="btn btn-primary btn-sm" target="_blank">Preview</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
