@model Rhythmify.Models.Post
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Posts/Index/">Afisare postari</a>
    <a class="btn btn-outline-success" href="/Posts/New">Adauga postare</a>
</div>

<br />

@Html.Partial("PostInfo", Model)

<hr />

@if (await UserManager.GetUserIdAsync(UserManager.GetUserAsync(User).Result) == Model.UserId)
{
    <div class="d-flex flex-row justify-content-between">
        <a class="btn btn-success" href="/Posts/Edit/@Model.Id">Editeaza postare</a>

        <form method="post" action="/Posts/Delete/@Model.Id">
            <button class="btn btn-danger" type="submit">Sterge postare</button>
        </form>
    </div>
}

<br />
<br />


@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@* @foreach (var comm in Model.Comments)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <div>

                        <p>@comm.Content</p>
                        <small>@comm.Date</small>

                    </div>
                    <br>

                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                        </div>

                        <div>

                            <form method="post" action="/Comments/Delete/@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                            </form>

                        </div>

                    </div>

                    <br />

                </div>

                <div class="col-md-2"></div>

            </div>

        </div>
    }
*@

@* Afisarea formularului in care se poate adauga un comentariu *@

@* <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" action="/Articles/Show">

                        <div class="card-body">

                            <input type="hidden" name="ArticleId" value="@Model.Id" />

                            <label>Continut comentariu</label>
                            <br />

                            <textarea class="form-control" name="Content"></textarea>
                            <br />

                            @Html.ValidationMessage("Content", null, new {@class = "text-danger"})
                            <br /> <br />
                            <button class="btn btn-success " type="submit">Adauga comentariul</button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div> *@